body {
  font-family: 'Poppins', sans-serif;
  background-color: #F0EFF5;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  font-weight: 500;
  position: fixed;
  height: 100%;
  overflow: auto;
   border-top-right-radius: 50px; 
  border-bottom-right-radius: 50px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 13px;
  padding-left: 20px;
  color: #64728C;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  font-weight: 600;
}
 
.sidebar a.active {
  background-color: #2a3577;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.sidebar a:hover:not(.active) {
  background-color: #dbdeee;
  color: #4d5970;
  border-radius: 5px;
  /* margin: 10px; */
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.sidebar img {
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background-color: #2a3577;
  color: white;
  padding-left: 80px;
}

.sub-header {
  background-color: #ffffff;
  padding:10px 0px 10px 80px;
  display: flex;
  align-items: center;
}

.main-path{
  font-size: 25px;
  padding:18px 0px 18px 0px;
  font-weight: 500;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.sub-header-back {
  background-color: #F6FBFF;
  color: #64728C;
  padding: 7px 10px;
  border-radius: 15px;
  border: none;
}

.sub-header-path {
  background-color: #F6FBFF;
  color: #64728C;
  padding: 7px 10px;
  margin-right: 10px;
  border-radius: 15px;
  border: none;
}

.sub-header-path-active{
  background-color: #ecefff;
  color: #2a3577;
  padding: 7px 10px;
  border-radius: 15px;
  border: none;
}

.rounded-card{
  border-radius: 10px;
}

.theme-text-color{
  color: #64728C;
}

.theme-bg-color{
  background-color: #2a3577;
}

.sign-in-bg-color{
  background-color: #f0f1fc;
}

.theme-button-color{
  color: #64728C;
}

/* External CSS for custom button styling */

.modal-btn{
  background-color: rgba(118, 158, 255, 0.3);
  opacity:30;
  border-radius: 20px;
  padding: 8px 10px;
  font-size: 14px; 
  font-weight: 600; 
  line-height: 22px; 
  color: #10275E;
  border: none;
}

.edit-btn{
  border: none;
  background-color: white;
}

.modal-label{
  font-size: 14px;
}

.error-text{
  font-size: 12px;
  font-weight: 600;
  color: #fb4b4b;
}

.form-btn-text{
  font-size: 13px;
}

.status-inactive-btn{
  background-color: #ffafaf;
  color: #e00000;
  padding: 0px 5px 0px 5px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  border: none;
  width: 60px;
  text-align: center;
}

.status-cancel-requested-btn{
  background-color: #ffc8f7;
  color: #eb05ca;
  padding: 0px 5px 0px 5px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  border: none;
  width: 60px;
  text-align: center;
}

.status-active-btn{
  background-color: #9fff9b;
  color: #076802;
  padding: 0px 5px 0px 5px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  border: none;
  width: 60px;
  text-align: center;
}

.status-pending-btn{
  background-color: #ffe7c2;
  color: #ff9d0b;
  padding: 0px 5px 0px 5px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  border: none;
  width: 60px;
  text-align: center;
}

.status-processing-btn{
  background-color: #d1d9ff;
  color: #152ae4;
  padding: 0px 5px 0px 5px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  width: 60px;
  border: none;
  text-align: center;
}

.view-text1{
  font-size: 15px;
  font-weight: 600;
}

.view-details1{
  font-size: 15px;
}